.btn{
    padding: 0.7rem 3rem;
    font-size: $font-size;
    font-family: $font-family;
    outline: none;
    border: none;
    cursor: pointer;

    & > a {
        text-decoration: none;
        color: white;
    }
}

.btn-primary{
    background: $primary-color-light;
    border-radius: 2rem;
    color: white;
    font-weight: 700;
    box-shadow: 0 1px 0 1px $primary-color-light;
}

.btn-danger{
    background: red;
    border-radius: 1rem;
    color: white;
    font-weight: 700;
    box-shadow: 0 1px 0 1px $primary-color-light;
    margin: 0 auto;
}

.heading{
    line-height: 2.5rem;
    margin: 1.5rem 0;
    font-weight: 700;
}

.paragraph{
    margin: 1.5rem 0;
    color:$neutral-grayish-violet;
}

.invalidInput{
    border: 2px solid rgb(235, 58, 58);

}
.invalidMsg{
    display: block;
    color: rgb(235, 58, 58);
}

.hidden{
    display: none;
}