.boost-section{
    width: 100%;
    background: $primary-color-dark url(../img/bg-boost-mobile.svg) no-repeat;
    background-position: 100% 0;
    padding: 5rem 2rem;
    color: white;
    text-align: center;
    font-weight: 700;

    @media screen and (min-width: 769px){
        background-image: url(../img/bg-boost-desktop.svg);
        padding: 3.5rem 2rem;
        
        & > h2{
            font-size: 300%;
        }
    }
}