.boost-section{
    width: 100%;
    background: $primary-color-dark url(../img/bg-boost-mobile.svg) no-repeat;
    background-position: 100% 0;
    padding: 5rem 2rem;
    color: white;
    text-align: center;
}