.footer{
    width: 100%;
    background: $neutral-violet;
    color: white;
    display: flex;
    padding: 4rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media screen and (min-width: 1000px){
        flex-direction: row;
        justify-content: space-between;
        padding: 3% 10% 5% 10%;
        align-items: flex-start;

        .footer-links{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex: 3;
            padding-left: 10%;

            @media screen and (min-width: 1200px){
                padding-left: 18%;
            }

            .link-listing{
                margin: 0 1.5rem;
                font-size: 1rem;
                flex: 2;

                & > h3{
                    padding: 0;
                    margin: 0;
                    margin-bottom: 1.5rem;
                }

                & .link {
                    margin-bottom: 1rem;
                }
            }

            .socials{
                margin: 0;
                padding-top: 0.6rem;
                flex: 1;

                & > img {
                    padding-left: 1rem;
                }
                
            }
        }
    }


    & path {
        fill: white;
    }

    .link-listing{
        margin-top: 2rem;

        .links{

            .link{
                list-style-type: none;

                & > a{
                    text-decoration: none;
                    font-size: 1rem;
                    color: $neutral-gray;
                }
            }
        }
    }

    .socials{
        margin-top: 2rem;
        width:50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > img{
            padding: 1rem;
        }
    }
}

.attribution{
    font-size: 1rem;
    color: $neutral-gray;
    margin-top: 3rem;

    & > a{
        text-decoration: none;
        color: white;
    }
}