@import './variable';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $primary-bg;
    // background: $neutral-gray;
    font-size: $font-size;
    font-family: $font-family;
}
@import './reusables';
@import './nav';
@import './hero';
@import './header';
@import './shortener';
@import './features';