
.nav-toggle{
    margin-top: 5px;
    &  div{
        margin-bottom: 5px;
        width: 30px;
        border-bottom: 3px solid black;
        border-radius: 20%;
    }
}

.hide{
    display: none;
}

.header-top{
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: relative;

    .nav{

        .nav-menu{
            position: absolute;
            background: $primary-color-dark;
            color: white;
            padding: 1rem 2rem;
            top: 6rem;
            left: 5%;
            width: 90%;
            border-radius: 5px;
            text-align: center;

            .right-nav{
                border-top: 0.1px solid $neutral-grayish-violet;
            }

            .nav-listing{
                list-style-type: none;



                .nav-item{
                    font-weight: 700;
                    margin: 1.4rem 0;
                    padding: 0.6rem;

                    &:hover{
                        background:$primary-color-light;
                        border-radius: 2rem;
                    }
                }
            }
        }
    }
}