
.nav-toggle{
    margin-top: 5px;
    padding-top: 0.6rem;

    &  div{
        margin-bottom: 5px;
        width: 30px;
        border-bottom: 3px solid black;
        border-radius: 20%;
    }
    @media screen and (min-width: 769px){
        padding: 0;
        &  div{
            display: none;
        }

    }
}

.hide{
    display: none;
}

.header-top{
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: relative;

    @media screen and (min-width: 769px){
        position: unset;
        margin:0;
        padding: 1rem 3.72rem;
    }

    @media screen and (min-width: 1000px){
        padding: 1rem 7rem;
    }

    .nav{
        @media screen and (min-width: 769px){
            width: 85%;
        }

        .nav-menu{
            position: absolute;
            background: $primary-color-dark;
            color: white;
            padding: 1rem 2rem;
            top: 6rem;
            left: 5%;
            width: 90%;
            border-radius: 5px;
            text-align: center;

            @media screen and (min-width: 769px){
                position: unset;
                background: unset;
                color: $neutral-grayish-violet;
                display: flex;
                justify-content: space-between;
                padding: 0;
                margin: 0;
                text-align: unset;
                width: 100%;
            }

            .right-nav{
                border-top: 0.1px solid $neutral-grayish-violet;

                @media screen and (min-width: 769px){
                    border: unset;
                }
            }

            // .left-nav{
            //     @media screen and (min-width: 769px){
            //         display: flex;

            //     }
            // }

            .nav-listing{
                list-style-type: none;

                @media screen and (min-width: 769px){
                    display: flex;
                    padding: 0;
                    margin: 0;
                }

                .nav-item{
                    font-weight: 700;
                    margin: 1.4rem 0;
                    padding: 0.6rem;

                    @media screen and (min-width: 769px){
                        font-size: 0.9rem;
                        margin: 0;
                        margin-left: 1rem;
                        padding: 0.6rem 1rem;
                    }

                    &:hover{
                        background:$primary-color-light;
                        border-radius: 2rem;

                        @media screen and (min-width: 769px){
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

